.roof {
    height: 50px;
    width: 100px;  
    background: green ;
    clip-path: polygon(50% 53%, 0% 100%, 100% 100%);
}

.foundation {
    height: 50px;
    width: 100px;  
    background: gray ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flue {
    height: 50px;
    width: 30px;
    position:fixed;
    bottom: 0;
    right: 50px;
    background: brown;
}

.window {
        height: 30px;
        width: 30px;
        border-radius: 5%;
        background: aliceblue;
        display: flex;
        flex-shrink: 0;
    }

.house {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}